.reqres-header{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    background-color: #6200ee;
    color: white;
    padding: 5px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .reqres-header{
        font-size: 25px;
        font-weight: 600;
    }
  }