.reqres-buttons-userlist{
    position: relative;
    display: flex;
    flex-direction: column;
}
.reqres-buttons{
    position: relative;
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.reqres-userlist{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.reqres-user{
    width: 295px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 25px;
}
.reqres-user:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.reqres-user-img{
    background-color: #F2F2F2;
    width: 100%;
}
.reqres-user-details{
    position: relative;
    display: flex;
    flex-direction: column;
}

.reqres-user-name{
    color: #6200ee;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.reqres-user-email{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}