.reqres-buttons-userlist{
    position: relative;
    display: flex;
    flex-direction: column;
}
.button-page{
    margin: 5px  !important;
}
.reqres-buttons{
    position: relative;
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.reqres-userlist{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.reqres-no-data-img{
    width: 100%;
}